[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
flask = "*"
flask-cors = "*"
google-generativeai = "*"
openpyxl = "*"
python-dotenv = "*"
pypdf2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
